@import "./_vars";
html {
    margin: 0px;
    padding: 0px;
}

.centered {
    text-align: center;
}

body {
    font-family: $fontFamily;
    background-color: $banner-text-color;
    h1 {
        color: $banner-text-color;
        font-size: 2.2em;
        margin-top: 15px;
    }
    h2 {
        margin: 50px;
        margin-top: 0px;
        color: $instructions-text-color;
    }
}

.container.loaded .spinner {
    display: none;
}

#launch-btn {
    padding: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 50px;
    margin-left: auto;
    margin-right: auto;
    background-color: $interactive-color;
    &:link,
    &:hover,
    &:active,
    &:visited {
        color: white;
        font-size: 1.6em;
        font-weight: bold;
        text-decoration: none;
    }
    &:hover {
        background-color: $interactive-hover-color;
    }
}

#splash-content-1 {
    background-color: $banner-color;
    padding: 40px;
}

#splash-content-2 {
    padding: 40px;
}

#splash-content-3 {
    padding: 40px;
    .leftimg {
        float: left;
        width: auto;
        height: 22px;
    }
    .rightimg {
        float: right;
        width: auto;
        height: 22px;
    }
}