/*
$article-color-1: #ff8d6b;
$article-color-2: #e53d51;
$article-color-3: #62b9af;
$article-color-4: #66cdd6;
*/
html {
  margin: 0px;
  padding: 0px;
}

.centered {
  text-align: center;
}

body {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  background-color: #fff;
}

body h1 {
  color: #fff;
  font-size: 2.2em;
  margin-top: 15px;
}

body h2 {
  margin: 50px;
  margin-top: 0px;
  color: #333333;
}

.container.loaded .spinner {
  display: none;
}

#launch-btn {
  padding: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 50px;
  margin-left: auto;
  margin-right: auto;
  background-color: #1c4e8a;
}

#launch-btn:link, #launch-btn:hover, #launch-btn:active, #launch-btn:visited {
  color: white;
  font-size: 1.6em;
  font-weight: bold;
  text-decoration: none;
}

#launch-btn:hover {
  background-color: #2976d3;
}

#splash-content-1 {
  background-color: #0f2a4a;
  padding: 40px;
}

#splash-content-2 {
  padding: 40px;
}

#splash-content-3 {
  padding: 40px;
}

#splash-content-3 .leftimg {
  float: left;
  width: auto;
  height: 22px;
}

#splash-content-3 .rightimg {
  float: right;
  width: auto;
  height: 22px;
}
